header {
    height: 120vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: left;
    height: 100%;
    position: relative;
}


/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

/* HEADER SOCIALS */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    /* left: -55px; */
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ME */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 5rem;
    border-radius: 10rem 10rem 0 0;
    overflow: hidden;
    padding: 0rem -5rem 0rem 0rem;
}

/* .me:hover {
    color: var(--color-primary);
} */

/* SCROLL DOWN */


.scroll__down {
    position: absolute;
    right: -2.3rem;
    /* right: -8.9rem; */
    /* right: -12%; */
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* .scroll__down::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
} */




/* Media Queries  for medium devices */

@media screen  and (max-width: 1024px) {
    header {
        height: 68vh;
    }     
    
}


/* Media Queries  for small devices */
@media screen  and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
    
}